{% load static %} {% static "images" as baseUrl %}
<doctype html>
<html class="no-js" lang="fa" dir="auto">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>سفر کنید</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'sentdex/img/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/bootstrap.min.css' %}"> 
	<link rel="stylesheet" href="{% static 'sentdex/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/gijgo.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/slicknav.css' %}">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="{% static 'sentdex/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'sentdex/css/jquery-ui.css' %}">   
</head>
    <title></title>
<body>
	<header>
		<div class="header-area">
			<div id="sticky-header" class="min-header-area">
				<div class="container-fluid">
					<div class="header_bottom_border">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-2">
								<div class="logo">
                                    <a href="{% url 'home' %}">
                                    	<img src="{% static 'sentdex/img/logo.png' %}" alt="logo">
                                    </a>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6">
								<div class="main-menu  d-none d-lg-block">
									<nav>
										<ul id="navigation">
											<li><a class="active" href="{% url 'login' %}">خانه</a></li>
											<li><a href="{% url 'about' %}">درباره</a></li>
											{% if user.is_authenticated %}
											<li>سلام, {{user.first_name}}</li>
											<li><a href="{% url 'logout' %}">خروج</a></li>
											{%else%}
											<li><a href="{% url 'logout' %}"></a></li>
											<li><a href="{% url 'register' %}"></a></li>
											{%endif%}
											<li><a href="#">وبلاگ< <i class="ti-angle-down"></i></a>
												<ul class="submenu">
													<li><a href="{% url 'blog'%}">وبلاگ</a></li>
													<li><a href="{% url 'single-blog'%}">تک وبلاگ</a></li>
												</ul>
											</li>
                                            <li><a href="{% url 'contact' %}">تماس بگیرید</a></li>
										</ul>
									</nav>
								</div>
							</div>

							<div class="col-xl-4 col-lg-4 d-none d-lg-block">
								 <div class="social_wrap d-flex align-items-center justify-content-end">
								 	<div class="number">
								 		<p> <i class="fa fa-phone"></i>09102779237</p>
								 	</div>

								 	<div class="social_links d-none d-xl-block">
								 		<ul>
								 			<li>
								 				<a href="#"> <i class="fa fa-instagram"></i> </a>
								 			</li>
								 			<li>
								 				<a href="#"> <i class="fa fa-linkedin"></i> </a>
                                            </li>
                                            <li>
                                            	<a href="#"> <i class="fa fa-facebook"></i> </a>
                                            </li>
                                            <li>
                                            	<a href="#"> <i class="fa fa-google-plus"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                            	<div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>


    <div class="bradcam_area bradcam_bg_2">
    	<div class="container">
    		<div class="row">
    			<div class="col-xl-12">
    				<div class="bradcam_text text-center">
    					<h3>مقاصد</h3>
    					<p></p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="where_togo_area">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="col-lg-3">
    				<div class="form_area">
    					<h3>کجا می خواهید بروید؟</h3>
    				</div>
    			</div>
    			<div class="col-lg-9">
    				<div class="search_wrap">
    					<form class="search_form" action="#" >
    						{%csrf_token%}
    						<div class="input_field">
    							{{form.place}}
    						</div>

    						<div class="search_btn">
    							<button class="boxed-btn4 " type="submit" >جستجو کنید</button>
    						</div>
    						<div class="form_area">
    							{% for message in messages %}
    						<h3>{{ message }}</h3>
    						{% endfor %}
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div>

<div class="popular_places_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					{%for dest in dests%}
					<div class="col-lg-6 col-md-6">
						<div class="single-place">
							<div class="thumb">
								<img src="{{dest.img1.url}}" alt="">
								<a href="destination_details/{{dest.dest_name}}" methods="GET" class="prise">{{dest.price}}</a>
							</div>
							<div class="place_info">
								<a href='destination_details/{{dest.dest_name}}' ><h3>{{dest.dest_name}}</h3></a>
								<p>{{dest.country}}</p>
								<div class="rating_days d_flex justify-content-between">
									<span class="d-flex justify-content-center align-items-center">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<div  class="days">
										<i class="fa fa-clock-o"></i>
										<a href='destination_details/{{dest.dest_name}}'>{{dest.days}} روزها</a> 
									</div>
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				</div>
				 <div class="row">
				 	<div class="col-lg-12">
				 		<div class="more_place_btn text-center">
				 			<a class="boxed-btn4" href="#">مکان های بیشتر</a>
				 		</div>
				 	</div>
				 </div>
				</div>
			</div>
		</div>
	</div>

	<div class="newsletter_area overlay">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="newsletter_text">
                            <h4>مشترک خبرنامه ما شوید</h4>
                            <p>برای دریافت پیشنهادات و در مورد خبرنامه مشترک شوید مکان های جدید برای کشف</p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <form action="/subscribe" method="POST" class="mail_form">
                            <div class="row no-gutters">
                                <div class="col-lg-9 col-md-8">
                                    <div class="newsletter_field">
                                        {{form.email}}
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="newsletter_btn">
                                        <button class="boxed-btn4" type="submit" aria-label="مشترک شوید">مشترک شوید</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div class="recent_trip_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>سفرهای اخیر</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="{% static 'sentdex/img/trip/1.png' %}" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>۱۲ اکتبر ۲۰۱۹</span>
                        </div>
                        <a href="#">
                            <h3>سفرها به بهترین شکل اندازه‌گیری می‌شوند با دوستان جدید</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="{% static 'sentdex/img/trip/2.png' %}" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>۱۲ اکتبر ۲۰۱۹</span>
                        </div>
                        <a href="#">
                            <h3>سفرها به بهترین شکل اندازه‌گیری می‌شوند با دوستان جدید</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="{% static 'sentdex/img/trip/3.png' %}" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>۱۲ اکتبر ۲۰۱۹</span>
                        </div>
                        <a href="#">
                            <h3>سفرها به بهترین شکل اندازه‌گیری می‌شوند با دوستان جدید</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
	 <div class="footer_top">
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-xl-4 col-md-6 col-lg-4 ">
	 				<div class="footer_widget">
	 					<div class="footer_logo">
	 						<a href="#">
	 							<img src="{% static 'sentdex/img/footer_logo.png' %}" alt="">
	 						</a>
	 					</div>
	 					<p>A-2 جامعه شیامال، کیشان ساموسا<br> لین نیویورک-1782 <br>
	 						<a href="#">+989102779237</a> <br>
	 						<a href="#">yshabanei@gmail.com</a>
	 					</p>
	 					<div class="socail_links">
	 						<ul>
	 							<li>
	 								<a href="#">
	 									<i class="ti-facebook"></i>
	 								</a>
	 							</li>
	 							<li>
	 								 <a href="#">
	 								 	<i class="ti-twitter-alt"></i>
	 								 </a>
	 							</li>
	 							<li>
	 								<a href="#">
	 									<i class="fa fa-instagram"></i>
	 								</a>
	 							</li>
	 							<li>
	 								<a href="#">
	 									<i class="fa fa-pinterest"></i>
	 								</a>
	 							</li>
	 							<li>
	 								 <a href="https://www.youtube.com/user/javaboynavin">
	 								 	<i class="fa fa-youtube-play"></i>
	 								 </a>
	 								</li>
	 							</ul>
	 						</div>
	 					</div>
	 					<div class="col-xl-2 col-md-6 col-lg-2">
	 						<div class="footer_widget">
	 							<h3 class="footer_title">
	 								شرکت
	 							</h3>
	 							<ul class="links">
	 								<li><a href="#">قیمت گذاری</a></li>
	 								<li><a href="#">درباره</a></li>
	 								<li><a href="#"> گالری</a></li>
	 								<li><a href="#"> تماس بگیرید</a></li>
	 							</ul>
	 						</div>
	 					</div>
	 					<div class="col-xl-3 col-md-6 col-lg-3">
	 						<div class="footer_widget">
	 							<h3 class="footer_title">
	 								مقصد محبوب
	 							</h3>
	 							<ul class="links double_links">
	 								<li><a href="#">اندونزی</a></li>
	 								<li><a href="#">آمریکا</a></li>
	 								<li><a href="#">هندوستان</a></li>
	 								<li><a href="#">سوئیس</a></li>
	 								<li><a href="#">ایتالیا</a></li>
	 								<li><a href="#">کانادا</a></li>
	 								<li><a href="#">فرانک</a></li>
	 								<li><a href="#">انگلستان</a></li>
	 							</ul>
	 						</div>
	 					</div>
	 					<div class="col-xl-3 col-md-6 col-lg-3">
	 						<div class="footer_widget">
	 							<h3 class="footer_title">
	 								اینستاگرام
	 							</h3>
	 							<div class="instagram_feed">
	 								<div class="single_insta">
	 									<a href="#">
	 										<img src="{% static 'sentdex/img/instagram/1.png' %}" alt="">
	 									</a>
	 								</div>
	 								<div class="single_insta">
	 									<a href="#">
	 										<img src="{% static 'sentdex/img/instagram/2.png' %}" alt="">
	 									</a>
	 								</div>
	 								<div class="single_insta">
	 									<a href="#">
	 										<img src="{% static 'img/instagram/3.png' %}" alt="">
	 									</a>
	 								</div>
	 								<div class="single_insta">
	 									<a href="#">
	 										<img src="{% static 'sentdex/img/instagram/4.png' %}" alt="">
	 									</a>
	 								</div>
	 								<div class="single_insta">
	 									 <a href="#">
	 									 	<img src="{% static 'sentdex/img/instagram/5.png' %}" alt="">
	 									 </a>
	 								</div>
	 								<div class="single_insta">
	 									<a href="#">
	 										<img src="{% static 'sentdex/img/instagram/6.png' %}" alt="">
	 									</a>
	 								</div>
	 							</div>
	 						</div>
	 					</div>
	 				</div>
	 			</div>
	 		</div>
	 		<div class="copy-right_text">
	 			<div class="container">
	 				<div class="footer_border"></div>
	 				<div class="row">
	 					<div class="col-xl-12"></div>
	 		</div>
	 	</footer>

	 	<div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	 		<div class="modal-dialog modal-dialog-centered" role="document">
	 			<div class="modal-content">
	 				<div class="serch_form">
	 					{{from.search}}
	 					<button type="submit">جستجو کنید</button>
	 				</div>
	 			</div>
	 		</div>
	 	</div>



	 	<script src="{%static 'sentdex/js/vendor/modernizr-3.5.0.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/vendor/jquery-1.12.4.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/popper.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/bootstrap.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/owl.carousel.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/isotope.pkgd.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/ajax-form.js' %}"></script>
	 	<script src="{%static 'sentdex/js/waypoints.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/jquery.counterup.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/imagesloaded.pkgd.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/scrollIt.js' %}"></script>
	 	<script src="{%static 'sentdex/js/jquery.scrollUp.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/wow.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/jquery-ui.min.js' %}"> </script>
	 	<script src="{%static 'sentdex/js/nice-select.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/jquery.slicknav.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/jquery.magnific-popup.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/plugins.js' %}"></script>
	 	<script src="{%static 'sentdex/js/range.js' %}"></script>
	 	<script src="{%static 'sentdex/js/slick.min.js' %}"></script>


	 	<script src="{%static 'sentdex/js/contact.js' %}"></script>
	 	<script src="{%static 'sentdex/js/jquery.ajaxchimp.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/jquery.form.js' %}"></script>
	 	<script src="{%static 'sentdex/js/jquery.validate.min.js' %}"></script>
	 	<script src="{%static 'sentdex/js/mail-script.js' %}"></script>
	 	<script src="{% static 'sentdex/js/main.js' %}"></script>
	 	<script>
	 		$('#datepicker').datepicker(
	 			iconsLibrary: 'fontawesome',
	 			icons: {
	 				rightIcon: '<span class="fa fa-caret-down"></span>'
	 			}
	 		});
	 	</script>
	 </script>

	 </body>

</html>
	 			)
	 		

            

